.shop-container {
    width: 100%;
    height: 85vh;
    display: flex;
}

.shop {
    width: 70%;
}

.cart {
    width: 30%;
    background-color: rgba(57, 207, 190, 0.459);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cart > h2 {
    text-align: center;
}

.checkout {
    align-self: center;
    width: 50%;
}