.shop-container {
    width: 100%;
    height: 85vh;
    display: flex;
}

.shop {
    width: 70%;
}

.cart {
    width: 30vw;
    background-color: rgba(57, 207, 190, 0.459);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cart > h2 {
    text-align: center;
}

.checkout {
    align-self: center;
    width: 50%;
}

.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid red;
  }
  
  .card {
    flex: 1 1 auto;
    max-width: 15vw;
    max-height: 15vh;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 4px solid black;
    border-radius: 5px;
  }
  
  .card > img {
      height: 100%;
      max-width: 100%;
  }