.shop-container {
    width: 100%;
    height: 85vh;
    display: flex;
}

.shop {
    width: 70%;
}

.cart {
    width: 30vw;
    background-color: rgba(57, 207, 190, 0.459);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cart > h2 {
    text-align: center;
}

.items {
    width: 75%;
}

li {
    position: relative;
}

.pet-name {
    float: left;
    margin: 0px;
}

.pet-number {
    position: absolute;
    right: 0;
}

#total {
    margin-left: 2%;
    text-align: right;
}

.checkout-container {
    align-self: center;
    width: 50%;
    text-align: center
}

#checkout-btn {
    width: 100%;
}

.shop{
    display: flex;
    flex-wrap: wrap;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  
  .card {
    flex: 1 1 auto;
    width: fit-content;
    max-height: 15vh;
    display: flex;
    justify-content: center;
  }
  
  .card > img {
      height: 90%;
      max-width: 90%;
      border: 4px solid black;
      border-radius: 5px;
  }

  .card-info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-info > * {
      margin: 1px;
  }

  .card-info > input {
      width: 30%;
  }